{% extends 'dashboard_header.html' %}

{% block title %} Password Change {% endblock %}



{% block body %}

<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Change Password for {{ volunteer.fname }} {{ volunteer.lname }}</h1>
                        {% with messages = get_flashed_messages () %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info">
                    {{ message }}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
                    {% endfor %}
{% endif %}
{% endwith %}
                        
                        <form method='POST' action='/change/password/{{ volunteer.id }}'>
                        <p><input type="password" name="oldpw" class="form-control" style="width:75%" placeholder="Old Password"></p>
                        <p><input type="password" name="newpw" class="form-control" style="width:75%" placeholder="New Password"></p>
                        
                        <p><input type="submit" class="btn btn-primary" value="Save changes"></p>
                        </form>
                        
                        
              
                    </div>
                </div>
            </div>
        </div>


{% endblock %}